@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.intro-text {
  text-align: center;
  margin-top: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: blue;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.image {
  width: 200px;
  height: 250px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 8px 4px gray;
}

/** IMAGE MODAL */
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.imageContainer > button {
  width: 200px;
  margin: auto;
  padding: 10px;
  border: none;
  font-size: large;
  border-radius: 3px;
  box-shadow: 0 0 8px 2px grey;
}
